<html>

<head>
<link rel="stylesheet" type="text/css" href="http://bootswatch.com/flatly/bootstrap.min.css">
<style type="text/css">
  html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj_NDdLbBs7npzMT1e2nVQ_jAM3tyAif4">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: { lat: <%=@the_latitude%>, lng: <%=@the_longitude%>},
      zoom: 15
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>


  <div class="jumbotron">
    <div class="container">
      <h1>Address to Weather</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">The current temperature at <b><%=@the_address%></b> is <b><%=@the_temperature%></b> degrees.</p>
        <p class="lead">The outlook for the next hour is: <b><%=@the_hour_outlook%></b>.</p>
        <p class="lead">The outlook for the next day is: <b><%=@the_day_outlook%></b></p>
      </div>
    </div>
  </div>


</head>

<body>
  <div id="map-canvas"></div>
</body>

</html>
